<ul id="nav-bar">
  <navigate-to to="/"><button>home</button></navigate-to>
  <navigate-to to="/about"><button>about</button></navigate-to>
  <navigate-to to="portfolio"><button>portfolio</button></navigate-to>
</ul>

<style>
  * {
    margin: 0;
    padding: 0;
  }

  li, a {
    text-decoration: none;
    list-style: none;
  }
  
  li {
    border: 1px solid black;
    padding: 5px;
  }

  a:visited {
    color: black;
  }

  li:hover {
    background-color: red;
  }

  ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 20px 0;
  }
</style>
