<ul id="nav-bar">
  <li><a class="nav-button" href="/home">Home</a></li>
  <li><a class="nav-button" href="/about">About</a></li>
  <li><a class="nav-button" href="/portfolio">Portfolio</a></li>
</ul>

<style>
  * {
    margin: 0;
    padding: 0;
  }

  li, a {
    text-decoration: none;
    list-style: none;
  }
  
  li {
    border: 1px solid black;
    padding: 5px;
  }

  a:visited {
    color: black;
  }

  li:hover {
    background-color: red;
  }

  ul {
    display: flex;
    width: 100vw;
    padding: 30px;
    justify-content: space-around;
  }
</style>
